*{
    padding:0;
    margin:0;
}
body{
    background-color: #FFCDB2;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB4A2;
    /* font from google */
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    text-transform: uppercase;
}
header h1{
    margin-right:100px;
}
header .main_logo{
    width:200px;
}
header .cart_logo{
    margin:0 20px;
    width:50px;

}
main{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.card{
    width:300px;
    height:400px;
    background-color: #fff;
    margin:20px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card img{
    border-radius: 10px;
    height:70%;
    border: 2px solid black
}
.card p {
    margin:auto;
    font-weight: bold;
    font-size:20px;
}
.card button{
    padding:10px 20px;
    border-radius: 20px;
    border:1px solid #888;
    background-color: #B5838D;
    cursor: pointer;
    outline: none;
    color:#fff;
    font-size:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card button:hover{
    background-color: #1c1cff;
    transition:.5s;

    
}