.left{
    text-align: center;
}
.left h2{
    font-size:30px;
}
.post p{
    line-height: 130%;
    margin:20px 0;
}
.post h3{
    color:#c11d49;
    font-size:20px;
    margin-top:20px;
}
.post span{
    font-size: 12px;
}
button{
    padding: 5px 20px;
    background-color: transparent;
    border:1px solid grey;
    cursor: pointer;
}
.last_button{
    margin-top:20px;
    margin-left:200px;
}
.post button:hover{
    background-color: #c6c10c;
}
table{
    margin:50px 0;
}
tr:first-child{
    margin-top: 20px;
}
table img{
    padding:0 20px;
    
}
table h3{
    margin-top:0;
}
