header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color : #2C5EAD;
}
header h1{
    color:#fff;
}
header ul{
    display: flex;
    list-style: none;
    gap: 100px;
    color:#fff;
    font:bold;
}
header ul li{
    cursor: pointer;
}

header .buttons button{
    padding:10px 20px;
    border-radius: 10px;
    margin:0 20px;
    background-color: #1591DC;
    cursor: pointer;
    color:#fff;
    outline: none;
    border:none;

}